<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <style>
        header {
            background: #ff9900;
        }

        .header-content {
            height: 100px;
            justify-content: center;
            align-content: center;
            text-align: center;
            color: #fff;
            font-size: 40px;
        }

        .header-content a {
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <div class="header-content">
                <div class="logo">
                    <a href="/">Good Jobs</a>
                </div>
            </div>
        </header>

        <main>
            <div id="reg-modal" class="modal">
                <div id="reg_form">
                    <!-- ===== REGISTER FORM ===== -->
                    <form action="/users/register" method="POST" class="modal-content">
                        <ul>
                            <li><a href="/users/login">Đăng nhập</a></li>
                            <li>Đăng ký</li>
                        </ul>
                        <h2>Đăng ký tài khoản của bạn</h2>
                        <% include ../partials/messages %>
                        <!-- SELECT USER TYPE -->
                        <select id="user-type" name="user_type">
                            <option selected disabled hidden>Bạn là ?</option>
                            <option class="option" value="nguoi-tim-viec">Người tìm việc</option>
                            <option class="option" value="viec-tim-nguoi">Việc tìm người</option>
                        </select>

                        <!-- INPUT Full Name -->
                        <input type="name" id="fullname" name="full_name" placeholder="Họ và tên"
                            value="<%= typeof name != 'undefined' ? name : '' %>" />

                        <!-- INPUT Display Name -->
                        <input type="name" id="display-name" name="display_name" placeholder="Tên hiển thị"
                            value="<%= typeof name != 'undefined' ? name : '' %>" />

                        <!-- INPUT Email -->
                        <input type="email" id="email" name="email" placeholder="Email"
                            value="<%= typeof email != 'undefined' ? email : '' %>" />

                        <!-- INPUT Password -->
                        <div class="input-group">
                            <input class="password" type="password" id="password" name="password" placeholder="Mật khẩu"
                                value="<%= typeof password != 'undefined' ? password : '' %>" />
                            <span><i class="fas fa-exclamation-circle" err="6"></i></span>
                            <div class="tooltips">
                                <span><i class="fas fa-check-circle" err="1"></i> 6 kí tự trở lên</span>
                                <span><i class="fas fa-check-circle" err="2"></i> 1 kí tự số</span>
                                <span><i class="fas fa-check-circle" err="3"></i> 1 kí tự hoa</span>
                                <span><i class="fas fa-check-circle" err="4"></i> 1 kí tự thường</span>
                                <span><i class="fas fa-check-circle" err="5"></i> 1 kí tự đặc biệt</span>
                            </div>
                        </div>

                        <!-- INPUT Confirm Password -->
                        <div class="input-group">
                            <input class="password" type="password" id="password_confirm" name="password_confirm"
                                placeholder="Nhập lại mật khẩu"
                                value="<%= typeof password != 'undefined' ? password : '' %>" />
                            <span><i err="7" class="fas fa-exclamation-circle"></i></span>
                        </div>

                        <!-- SUBS -->
                        <p class="agree">Bằng cách nhấn vào nút Đăng Ký là bạn đã đồng ý với <a href="#">các điều
                                khoản</a>
                            của chúng tôi</p>
                        <div class="press">
                            <button id="submitReg" class="btn btn-primary btn-normal" type="submit">Đăng ký</button>
                            <a href="/viec-tim-nguoi" class="btn btn-normal">Thoát</a>
                        </div>
                        <p class="forget">
                            <a href="/users/login">Bạn đã có tài khoản?</a>
                        </p>
                    </form>
                </div>
            </div>
        </main>
        <script src="../js/userlgreg.js"></script>
    </div>
</body>

</html>
